<!DOCTYPE html>
<html>
<head>
  <title>Destiny Activity Details</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css?v=1.2" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Destiny Activity Details</h1>
      <p>Quickly view the data for an activity from the Bungie.net Destiny API.</p>
    </div>
  </div>